
.vs/cobOpus/v15/Server/sqlite3/storage.ide-wal
.vs/cobOpus/v15/Server/sqlite3/storage.ide
.vs/cobOpus/v15/Server/sqlite3/db.lock
.vs/cobOpus/v15/.suo
.vs/cobOpus/v15/Server/sqlite3/storage.ide-shm
cobOpus/bin/Debug/cobOpus.exe
cobOpus/bin/Debug/cobOpus.pdb
cobOpus/obj/Debug/cobOpus.exe
cobOpus/obj/Debug/cobOpus.pdb
*.txt
*.cache
cobOpus/obj/Debug/
cobOpus/bin/Debug/cobOpus.exe.config
cobOpus/obj/Release/
cobOpus/bin/Release/cobOpus.exe.config
cobOpus/bin/Release/cobOpus.exe
cobOpus/bin/Release/cobOpus.pdb
.vs/cobOpus/DesignTimeBuild/.dtbcache
cobOpus/bin/Debug/cobOpus.exe_PROD.config
